<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

    <script src="/libs/jquery-1.9.1.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/libs/angular.min.js"></script>
    <script src="/libs/socket.io.js"></script>


</head>
<body>
    <div class="text-center h1"><%= title %></div>
        <%- body %>
</body>
</html>