<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link rel="stylesheet" href="/css/jquery-ui.css">-->
    <!--<script src="/libs/jquery.min.js"></script>-->
    <!--<script src="/libs/jquery-ui.min.js"></script>-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/vader/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body ng-app="myApp">
    <div>
        <div ng-controller="login_form">
            <input type="text" ng-model="login" required>
            <input type="password" ng-model="pass" required>
            {{login}}
        </div>


    </div>
</body>
</html>