<% layout('layout') -%>
<div ng-app="loginApp" ng-controller="login_form">
    <input type="text" ng-model="{{login}}" required>
    <input type="password" ng-model="pass" required>
</div>
<label value="{{login}}"></label>