<script src="/js/game.js"></script>
<div ng-controller="gameController as gc" ng-show="inlog">
    <input ng-click="gc.start_game()" ng-disabled="worker_url == ''" class="btn btn-success" type="button" value="Start new Game"/>
    <div class="container-fluid" ng-show="game_started">
        <div class="row">
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">
                <div id="row{{i}}" class="row" ng-repeat="i in [1, 2, 3] track by $index">
                    <button id="{{''+i+j}}" ng-click="gc.setZero(i, j)" class="col-sm-4 empty image" ng-repeat="j in [1, 2, 3] track by $index"></button>
                </div>
            </div>
            <div class="col-sm-4">.col-sm-4</div>
        </div>
    </div>
</div>

<style>
     .empty.image {background-image:
            url(/images/empty.png);}
     @@media (max-width: 768px) {.empty.image {background-image:
            url(/images/empty.png);}}

     .cross.image {background-image:
                  url(/images/cross.png);}
           @@media (max-width: 768px) {.cross.image {background-image:
                  url(/images/cross.png);}}

     .zero.image {background-image:
                  url(/images/zero.png);}
           @@media (max-width: 768px) {.zero.image {background-image:
                  url(/images/zero.png);}}
     .image {
     background-size: 100% 100%;
     height: 100%;
     	}
 </style>